<a href="https://colab.research.google.com/github/asadbek11211/Pandas_exercises/blob/main/05_ml_05_amaliyot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 5-MODUL. Machine Learning

### Portfolio uchun vazifa: Toshkent shahrida uylarning narxini aniqlash.

Ushbu amaliyotda sizning vazifangiz berilgan ma`lumotlar asosida Toshkent shahridagi uylarning narxini aniqlash.

# Ustunlar ta'rifi
- `location` - sotilayotgan uy manzili
- `district` - uy joylashgan tuman
- `rooms` - xonalar soni
- `size` - uy maydoni (kv.m)
- `level` - uy joylashgan qavat
- `max_levels` - ja'mi qavatlar soni
- `price` - uy narxi

## Vazifani CRSIP-DM Metolodgiyasi yordamida bajaring.
<img src="https://i.imgur.com/dzZnnYi.png" alt="CRISP-DM" width="800"/>

In [106]:
import pandas as pd
import numpy as np
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/housing_data_08-02-2021.csv')
df.sample(5)

,location,district,rooms,size,level,max_levels,price
5986,"город Ташкент, Чиланзарский район, Чиланзар-Ц",Чиланзарский,1,36,4,4,25500
5729,"город Ташкент, Яккасарайский район, Шота Руста...",Яккасарайский,2,53,3,4,51000
6826,"город Ташкент, Чиланзарский район, Чиланзар-10",Чиланзарский,2,50,4,4,30500
5604,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,1,30,1,4,26500
5637,"город Ташкент, Юнусабадский район, Минор",Юнусабадский,2,95,6,8,Договорная

In [118]:
#df["size"] = df["size"].apply(np.int32)
#df[df['price']=='Договорная']
df.drop(df[df.price == 'Договорная'].index, inplace=True)
df["price"] = df["price"].apply(np.int)

<ipython-input-118-0f164f834cc1>:4: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df["price"] = df["price"].apply(np.int)

In [121]:
df.drop(df[df['size'] == 'Площадьземли:1сот'].index, inplace=True)
df['size'] = df['size'].apply(np.float)

<ipython-input-121-a1e2b9d05560>:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df['size'] = df['size'].apply(np.float)

In [124]:
df.rename({'size':'hsize'}, axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7465 entries, 0 to 7564
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7465 non-null   object
 1   district    7465 non-null   object
 2   rooms       7465 non-null   int64
 3   hsize       7465 non-null   float64
 4   level       7465 non-null   int64
 5   max_levels  7465 non-null   int64
 6   price       7465 non-null   int64
dtypes: float64(1), int64(4), object(2)
memory usage: 466.6+ KB

In [128]:
df['hsize'] = df['hsize'].astype('int')

In [130]:
df.head()

,location,district,rooms,hsize,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57,4,4,52000
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52,4,5,56000
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42,4,4,37000
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65,1,4,49500
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70,3,5,55000

In [107]:
df.location.unique()

array(['город Ташкент, Юнусабадский район, Юнусабад 8-й квартал',
       'город Ташкент, Яккасарайский район, 1-й тупик Шота Руставели',
       'город Ташкент, Чиланзарский район, Чиланзар 2-й квартал', ...,
       'город Ташкент, Мирзо-Улугбекский район, Кадырдон',
       'город Ташкент, Мирзо-Улугбекский район, Ц-1 кафе Bibigon',
       'город Ташкент, Яшнободский район, Базар Кадышева'], dtype=object)

In [108]:
df.district.unique()

array(['Юнусабадский', 'Яккасарайский', 'Чиланзарский', 'Учтепинский',
       'Мирзо-Улугбекский', 'Яшнободский', 'Мирабадский',
       'Шайхантахурский', 'Олмазорский', 'Сергелийский', 'Янгихаётский',
       'Бектемирский'], dtype=object)

In [109]:
df.isnull().sum()

location      0
district      0
rooms         0
size          0
level         0
max_levels    0
price         0
dtype: int64

In [132]:
df1 = df.drop(['location','district'], axis=1)
df1.corrwith(df1.price).sort_values(ascending=False)

price         1.000000
rooms         0.056161
max_levels    0.011175
hsize         0.001107
level        -0.003449
dtype: float64

In [111]:
import numpy as np
import sklearn

# Ma'lumotlarni train va test setga ajratamiz

In [112]:
from sklearn.model_selection import train_test_split
train_set, test_set = train_test_split(df, test_size=0.2, random_state=42)

x_train = train_set.drop('price', axis=1)
y_ = train_set['price'].copy()

x_num = x_train.drop(['location','district'], axis=1)

# Pipeline quramiz

In [11]:
from sklearn.base import BaseEstimator, TransformerMixin
#kerakli ustunlar indekisini yozamiz

In [16]:
URL = "https://github.com/ageron/handson-ml2/blob/master/datasets/housing/housing.csv?raw=true"
df = pd.read_csv(URL)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND