<a href="https://colab.research.google.com/github/asadbek11211/Pandas_exercises/blob/main/_cut__and__qcut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Guruhlash

Guruhlashning vazifasi ma'lumotlarni tahlil qilish uchun biror ustun qiymatlarini berilgan oraliqlarga (guruhlarga) tushurib olish.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', usecols=['country','pop2021','area'], index_col='country')
df.head()

           pop2021   area
country
Macau      658.394     30
Monaco      39.511      2
Burundi  12255.433  27834
Macau      658.394     30
Monaco      39.511      2

In [ ]:
df1 = df[df.index == 'Uzbekistan']
df1

              pop2021    area
country
Uzbekistan  33935.763  447400

In [ ]:
df.drop_duplicates(inplace=True)
df

                    pop2021     area
country
Macau               658.394       30
Monaco               39.511        2
Burundi           12255.433    27834
Singapore          5896.686      710
Hong Kong          7552.810     1104
...                     ...      ...
Namibia            2587.344   825615
Western Sahara      611.875   266000
Mongolia           3329.289  1564110
Falkland Islands      3.533    12173
Greenland            56.877  2166086

[232 rows x 2 columns]

Tartiblab olamiz

In [ ]:
df.sort_index(inplace=True)

In [ ]:
df.head()

                  pop2021     area
country
Afghanistan     39835.428   652230
Albania          2872.933    28748
Algeria         44616.624  2381741
American Samoa     55.100      199
Andorra            77.355      468

Ba'zi davlatlar axolisini chiqaramiz

In [ ]:
df.iloc[11]

pop2021      25788.215
area       7692024.000
Name: Australia, dtype: float64

In [ ]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [ ]:
df.iloc[111]

pop2021     2159.079
area       30355.000
Name: Lesotho, dtype: float64

In [ ]:
df.loc['Russia']

pop2021    1.459120e+05
area       1.709824e+07
Name: Russia, dtype: float64

In [ ]:
df.loc['China']

pop2021    1444216.107
area       9706961.000
Name: China, dtype: float64

Ahamiyat bering, aholi soni minglarda berilgan, bu degani aniq qiymatni topish uchun ko'rsatilgan qiymatni `1000` ga ko'paytirasiz. Ya'ni, O'zbekiston aholisi `33935` ko'rsatilgan, demak aholi soni `33935x1000=33milloin 935ming`

Keling, quyidagi oraliqlarda nechtadan davlat borligini tahlil qilamiz:
- 1 milliongacha (`0-1000`)
- 1-10mln oraqlida (`1000-10000`)
- 10-30mln oraliqda (`10000-30000`)
- 30-50mln oraliqda (`30000-50000`)
- 50-100mln (`50000-10000`)
- 100-300mln (`100000-300000`)
- 300mln-1.5mlrd (`300000-1500000`)

Buning uchun quydagi bin (nuqtalarni) yaratib olamiz:

In [ ]:
bins = [0, 1000, 10000, 30000, 50000,  100000, 150000]

In [ ]:
pop = df.pop2021
pop.head()

country
Afghanistan       39835.428
Albania            2872.933
Algeria           44616.624
American Samoa       55.100
Andorra              77.355
Name: pop2021, dtype: float64

In [ ]:
oraliq = pd.cut(pop, bins)
oraliq

country
Afghanistan          (30000, 50000]
Albania               (1000, 10000]
Algeria              (30000, 50000]
American Samoa            (0, 1000]
Andorra                   (0, 1000]
                          ...
Wallis and Futuna         (0, 1000]
Western Sahara            (0, 1000]
Yemen                (30000, 50000]
Zambia               (10000, 30000]
Zimbabwe             (10000, 30000]
Name: pop2021, Length: 232, dtype: category
Categories (6, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 150000]]

In [ ]:
oraliq.value_counts()

(0, 1000]           72
(1000, 10000]       68
(10000, 30000]      44
(30000, 50000]      19
(50000, 100000]     15
(100000, 150000]     6
Name: pop2021, dtype: int64

In [ ]:
df['popBins'] = oraliq
df.head()

                  pop2021     area         popBins
country
Afghanistan     39835.428   652230  (30000, 50000]
Albania          2872.933    28748   (1000, 10000]
Algeria         44616.624  2381741  (30000, 50000]
American Samoa     55.100      199       (0, 1000]
Andorra            77.355      468       (0, 1000]

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.price.head()

index
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
Name: price, dtype: float64

In [ ]:
bins = [0, 10000, 20000, 50000]
gruh = ['arzon', 'ortacha', 'qimmat']

df['pricebin'] = pd.cut(df.price, bins, labels=gruh)

In [ ]:
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,pricebin
index,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,ortacha
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,ortacha
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,ortacha
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,ortacha
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,ortacha

In [ ]:
a = df.pricebin.value_counts()
a

arzon      28
ortacha    17
qimmat     13
Name: pricebin, dtype: int64

Yuqorida misollarda biz `bins` nomli o'zgaruvchi yaratib oldik va guruhlarga o'zimiz ajratdik. Agar bu jarayonni avtomatlashtirishni istasangiz, `bins` ro'yxati o'rtniga nechta guruh kerak ekanligini ko'rsatsangiz kifoya:

In [ ]:
range = pd.cut(df.price, 5)
range.value_counts()

(5110.751, 13200.8]    32
(13200.8, 21250.6]     14
(29300.4, 37350.2]      7
(37350.2, 45400.0]      3
(21250.6, 29300.4]      2
Name: price, dtype: int64

Agar sizga qiymatlarni teng a'zolardan iborat guruhga ajratish talab qilinsa, `.qcut()` metodiga murojaat qilasiz:

In [ ]:
ran = pd.qcut(df.price, 5)
ran.value_counts()

(5150.999, 6604.6]    12
(7959.6, 13589.2]     12
(23719.2, 45400.0]    12
(6604.6, 7959.6]      11
(13589.2, 23719.2]    11
Name: price, dtype: int64

In [ ]:
ran1 = pd.qcut(df.horsepower, 5)
ran1.value_counts()

(47.999, 68.0]    17
(74.4, 105.2]     12
(105.2, 154.4]    12
(154.4, 288.0]    12
(68.0, 74.4]       7
Name: horsepower, dtype: int64