In [2]:
import pandas as pd
import numpy as np

In [32]:
object = pd.Series([4,8,9,-7,0.5])
object

0    4.0
1    8.0
2    9.0
3   -7.0
4    0.5
dtype: float64

In [33]:
arr = range(2,11,2)
object = pd.Series(arr, index=['a','b','c','d','e'])
object

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [15]:
object.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [31]:
object.values

array([0, 0, 4, 0, 0, 4], dtype=int64)

In [18]:
object[['b','e']]

b     4
e    10
dtype: int64

In [42]:
object[object['e'] < 0] = -1
object

a          2
b          4
c          6
d          8
e        100
False     -1
dtype: int64

In [43]:
object[object > 5]

c      6
d      8
e    100
dtype: int64

In [48]:
minn = np.min(object)
minn

-1

maxx = np.max(object)
object

In [50]:
maxx = np.max(object) 
maxx

100

In [51]:
'c' in object

True

In [52]:
'l' in object

False

In [53]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000} # bu lug'at
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [59]:
cars = pd.Series(cars_dict)
cars

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [55]:
cars[0]

40000

In [56]:
cars.loc['Mazda']

52000

In [61]:
models = ['Tico','Honda','Mazda','Jiguli','Lacetti','Jaguar','Malibu','Toyota']
cars = pd.Series(cars_dict, index=models)
cars

Tico           NaN
Honda      38000.0
Mazda      52000.0
Jiguli         NaN
Lacetti    20000.0
Jaguar         NaN
Malibu     40000.0
Toyota     45000.0
dtype: float64

In [65]:
cars.isnull()

Tico        True
Honda      False
Mazda      False
Jiguli      True
Lacetti    False
Jaguar      True
Malibu     False
Toyota     False
dtype: bool

In [67]:
cars.notnull()

Tico       False
Honda       True
Mazda       True
Jiguli     False
Lacetti     True
Jaguar     False
Malibu      True
Toyota      True
dtype: bool

In [68]:
cars.hasnans

True

In [69]:
cars.is_unique

False

In [71]:
type(cars)

pandas.core.series.Series

In [72]:
cars.dtype

dtype('float64')

In [73]:
cars.shape

(8,)

In [74]:
cars.size

8

In [75]:
cars.iloc[3]

nan

In [81]:
cars.loc['Mazda']

52000.0

In [82]:
cars.mean()

39000.0